$color-primary: #26A8E0;
$color-yellow: #FCB12E;
$color-red: #ED1C24;
$color-green: #30B457;
$color-navy: #19335D;

$header-gradient-start: #2665E0;
$header-gradient-end: #57C0EE;

$background-primary: #EAEAEA;
$background-secondary: #797979;

$card-regular-background: linear-gradient(to top, $color-primary, #83D7FB);
$card-student-background: linear-gradient(to top, $color-yellow, #FFDE9F);
$card-concession-background: linear-gradient(to top, $color-green, #88F0A7);

$background-header: #FFFFFF;
$background-footer: #FFFFFF;

$interactive-normal: #797979;
$interactive-hover: #555555;

$text-normal: #484848;
$text-muted: #8e8e8e;
$text-inverted: #ffffff;

$icon-large: 30px;
$icon-small: 25px;
