@import 'src/styles/variables';

.concession {
    background: $card-concession-background;
    width: 100%;
    height: 200px;
    border-radius: 30px;
}

.student {
    background: $card-student-background;
    width: 100%;
    height: 200px;
    border-radius: 30px;
}

.regular {
    background: $card-regular-background;
    width: 100%;
    height: 200px;
    border-radius: 30px;
}