@import 'src/styles/variables';

@mixin card() {
    width: 90%;
    height: 200px;
    border-radius: 30px;
    padding: 20px;
}

.left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.balance {

}

.type {

}

.concession {
    @include card();
    background: $card-concession-background;
}

.student {
    @include card();
    background: $card-student-background;
}

.regular {
    @include card();
    background: $card-regular-background;
}