@import 'src/styles/variables';

@mixin card() {
    width: 100%;
    height: 200px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.concession {
    @include card();
    background: $card-concession-background;
}

.student {
    @include card();
    background: $card-student-background;
}

.regular {
    @include card();
    background: $card-regular-background;
}