@import 'src/styles/variables';

.primary {
    margin: 0;
    height: 51px;
    width: 100%;
    padding: 10px;
    background-color: $background-header;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .settings {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;

        color: $text-normal;

        * {
            transition: color .2s ease;
        }
        
        &:hover {
            * {
                color: $color-primary;
            }
        }    
    }

    .validated {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 110px;
        padding: 5px 20px 5px 20px;
   
        border-radius: 90px;
        gap: 10px;

        * {
            color: $text-inverted;
        }

        background: linear-gradient(to right, $header-gradient-start, $header-gradient-end);
    }
}